.text-shadow-sm { text-shadow: $box-shadow-sm !important; }
.text-shadow { text-shadow: $box-shadow !important; }
.text-shadow-lg { text-shadow: $box-shadow-lg !important; }
.text-shadow-none { text-shadow: none !important; }