@use 'sass:color';
@use 'sass:map';

@import './bootstrap/bootstrap.scss';

@import './bootstrap/functions';
@import './bootstrap/variables';
@import './bootstrap/variables-dark';
@import './bootstrap/maps';
@import './bootstrap/mixins';
@import './bootstrap/utilities';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    text-shadow: 0px 0px 1px rgba(0,0,0, 0.35);
    color: var(--bs-gray-800);
    ///font-family: 'Roboto', sans-serif;
}

$material-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
$material-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;

.material-shadow-1 {
    box-shadow: $material-shadow-1;
}
.material-shadow-2 {
    box-shadow: $material-shadow-2;
}

.text-shadow {
    text-shadow: 0px 0px 2px rgba(0,0,0, 0.4);
}

.text-shadow-sm {
    text-shadow: 0px 0px 1px rgba(0,0,0, 0.4);
}

.text-justify {
    text-align: justify;
}



@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: var(--bs-#{$color});
        color: var(--bs-white);
    }

    .text-#{$color} {
        color: var(--bs-#{$color});
    }
}

/// TOP BOTTOM
.breadcrumb.breadcrumb-header {
    --bs-breadcrumb-divider-color: var(--bs-gray-300);
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;
    @extend .text-shadow;
    .breadcrumb-item {
        color: var(--bs-breadcrumb-divider-color);
        
        &.active {
            color: var(--bs-breadcrumb-divider-color);
        }
    }
}


#nav-bottom {

    &.scrolled  {
        .navbar-brand, #btn-opennav {
            color: var(--bs-dark);
        }
    }

    .nav-item {
        position: relative;
        > .nav-link {
            color: var(--bs-primary);
            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-white);
                border-radius: $border-radius-sm;
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }

        > .custom-dropdown {
            padding-left: map.get($spacers, 3);

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 100%;
                margin-top: .5rem;
                background-color: var(--bs-white);
                min-width: 13.4rem;
                overflow: hidden;
                box-shadow: $material-shadow-1;
                border-bottom-left-radius: $border-radius-sm;
                border-bottom-right-radius: $border-radius-sm;
                padding-right: map.get($spacers, 3);

                > .nav-item {
                    &:first-child {
                        margin-top: .8rem;
                    }
                    &:last-child {
                        margin-bottom: .8rem;
                    }
                }
            }
        }

        transition: background-color 300ms linear;

        @include media-breakpoint-up(lg) {
            width: 100%;
        }
    }  
}

/// FLOATING BUTTON
.floating-button {
    height: 4rem;
    width: 4rem;
    bottom: 2.3rem;
    right: 2.2rem;
    font-size: 3.3rem;
    position: fixed;
    z-index: 500;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: collapse;
    transition: opacity 700ms linear,
                visibility 500ms linear;
    .visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 700ms linear,
                    visibility 500ms linear;
    }
}

// btn icon
.btn-icon {
    height: 38px;
    width: 38px;
}

.separator {
    width: 80px;
    padding-top: .345rem;
    background-color: var(--bs-primary);
}

@media screen and (max-width:576px) {
	.col-xs-6 {
		width: 50%;
	}
}

.child-1 > .child-item {
	margin-right: 20px;
}
