.child-item{
	color: #20c997;
	position: relative;
  	left: 20px;
}

.child-item:hover{
	background-color: var(--bs-primary);
	color: var(--bs-white);
	border-radius: .25rem;
	padding-left: .5rem;
	padding-right: .5rem;
}

@media only screen and (max-width: 991px) {
	.child-item > a.nav-link {
	 	color: white;
	}
}

@media only screen and (min-width: 992px) {
	ul#collapse_1.list-unstyled.custom-dropdown.collapse {
		min-width: 25rem;
	}
}

.photo-profile{
	height: 250px;
	width: 250px;
	border-radius: 50%;
}
