.child-item{
	color: #20c997;
	position: relative;
  	left: 20px;
}

.child-item:hover{
	background-color: var(--bs-primary);
	color: var(--bs-white);
	border-radius: .25rem;
	padding-left: .5rem;
	padding-right: .5rem;
}

@media only screen and (max-width: 991px) {
	.child-item > a.nav-link {
	 	color: white;
	}
}

@media only screen and (min-width: 992px) {
	ul#collapse_1.list-unstyled.custom-dropdown.collapse {
		min-width: 25rem;
	}
}

.photo-profile{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 1px solid #20c997;
}

@media (min-width: 1200px) {
	#card-course{
		height: 400px;
	}

	#btn-subscribe{
		position: absolute;
		bottom: 10px;
	}

	#card-course-landing-page{
		height: 500px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 993px){
	#card-course.card.position-relative.flex-nowrap{
		height: 350px;
	}

	#btn-subscribe{
		position: absolute;
		bottom: 10px;
	}

	#card-course-landing-page{
		height: 450px;
	}
}

@media screen and (max-width: 991px) and (min-width: 770px){
	#card-course{
		height: 350px;
	}
	#btn-subscribe{
		position: absolute;
		bottom: 10px;
	}

	#card-course-landing-page{
		height: 500px;
	}
}

@media screen and (max-width: 767px) and (min-width: 576px){
	#card-course-landing-page{
		height: 450px;
	}
}

#btn-create-new-course{
	float: right;
}

#card-course {
	min-height: 470px;
	height: auto;
}

#checkout-button {
	bottom: 10px;
	position: absolute;
	right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
